.gallery {
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-areas:
    "img1 img2"
    "img3 img3";
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.gallery-image {
  cursor: pointer;
}

.img1 {
  grid-area: img1;
  width: 45vw;
  height: 25.2vw;
  z-index: 1;
  margin-bottom: 5vw;
}

.img2 {
  grid-area: img2;
  width: 45vw;
  height: 25.2vw;
  z-index: 2;
  justify-self: flex-end;
  margin-bottom: 5vw;
}

.img3 {
  grid-area: img3;
  width: 95vw;
  height: 53.2vw;
}

.img1,
.img2,
.img3 {
  transition: transform 0.5s ease;
  border-radius: 1rem;
}

.img1:hover,
.img2:hover,
.img3:hover {
  transform: scale(1.03);
  z-index: 4;
}

@media only screen and (min-width: 1000px) {
  .gallery {
    /* height: 45.4rem; */
    width: 40rem;
  }

  .img1 {
    width: 18rem;
    height: 10rem;
    margin-bottom: 2rem;
  }

  .img2 {
    width: 18rem;
    height: 10rem;
    margin-bottom: 2rem;
  }

  .img3 {
    width: 38rem;
    height: 21rem;
  }
}

@media only screen and (min-width: 1000px) {
  .gallery {
    /* height: 45.4rem; */
    width: 60rem;
  }

  .img1 {
    width: 27rem;
    height: 15rem;
    margin-bottom: 3rem;
  }

  .img2 {
    width: 27rem;
    height: 15rem;
    margin-bottom: 3rem;
  }

  .img3 {
    width: 57rem;
    height: 31.5rem;
  }
}
