.container {
  margin: "10rem 0 0 0";
  display: grid;
  position: relative;
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(150, 75, 0, 0.5);
}

.form {
  /* background: rgba(150, 75, 0, 0.5); */
  display: grid;
  gap: 2rem;
  padding: 8rem 1.5rem;
  position: relative;
  width: 100%;
}

.heading {
  margin-bottom: 1rem;
  font-weight: 400;
  font-size: 3rem;
  color: var(--main-color-text);
}

.control {
  display: grid;
}

.control label {
  margin-bottom: 1.5rem;
  font-size: 1.7rem;
  font-weight: 600;
  color: var(--main-color-text);
}

.control input,
.control textarea {
  font-size: 2rem;
  padding: 1rem;
  border: 0.2rem solid transparent;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 0.5rem;
  font-family: "Roboto", sans-serif;
}

.control input:focus,
.control textarea:focus {
  outline: none;
}

.invalid input,
.invalid textarea {
  border: 0.2rem solid red;
}

.error {
  color: #f3eaeae6;
  font-weight: 700;
  font-size: 1.3rem;
  margin-top: 1rem;
  background: rgb(223, 34, 34);
  padding: 0.3rem 0.6rem;
  border-radius: 1rem;
  justify-self: center;
}

.checkBox {
  display: flex;
  gap: 1rem;
}

.checkBoxLabel {
  font-size: 1.2rem !important;
  font-weight: 400 !important;
}

.policies {
  cursor: pointer;
  text-decoration: underline;
}

.submit {
  font-size: 2rem;
  font-weight: 600;
  padding: 1rem;
  margin-top: 2rem;
  border: none;
  border-radius: 0.5rem;
  background: var(--main-color);
  color: var(--main-color-text);
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.25);
  transition: background 0.3s ease;
  cursor: pointer;
}

.submit:disabled {
  background: var(--dark-grey);
  cursor: not-allowed;
}

@media only screen and (min-width: 700px) {
  .container {
    width: 90%;
    margin: 0 auto 6rem auto;
    border-radius: 1rem;
    overflow: hidden;
  }
}

@media only screen and (min-width: 1000px) {
  .container {
    width: 90%;
    display: flex;
    margin: 10rem auto 6rem auto;
    padding: 0 5rem;
    gap: 5rem;
  }

  .form {
    width: 50%;
    padding-left: 0;
    padding-right: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    gap: 10rem;
    padding: 0 10rem;
  }
}

@media only screen and (min-width: 1600px) {
  .container {
    gap: 15rem;
    padding: 0 15rem;
  }
}

@media only screen and (min-width: 2200px) {
  .container {
    gap: 20rem;
    padding: 0 20rem;
  }
}
